body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
    padding: 30px 0 0;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

button {
	cursor: pointer;
}

.playingCards.faceImages {
    max-width: 800px;
    margin: 0 auto;
}

button.button {
    display: block;
    width: 300px;
    height: 50px;
    border: none;
    background: #000;
    color: #fff;
    font-size: 20px;
    margin: 50px auto 100px;
}

.cardsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.result {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.money {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
}